<project name="config">
    <!-- XAL Home is where this file resides -->
    <dirname property="xal.home" file="${ant.file.config}" />
    
    <property environment="env" />
                
    <!-- Determine the path to the junit jar based on JUNIT_HOME if it is defined, otherwise use the standard UNIX location. -->
    <condition property="junit.jar.path" value="${env.JUNIT_HOME}/junit.jar" else="/usr/share/java/junit.jar">
        <isset property="env.JUNIT_HOME" />
    </condition>
    
    <!-- Determine the build directory using the environment variable if defined, otherwise place the build root under xal home -->
    <condition property="build.root" value="${env.XAL_BUILD_ROOT}" else="${xal.home}/build">
        <isset property="env.XAL_BUILD_ROOT" />
    </condition>
    
    <!-- Determine the installation directory using the environment variable if defined, otherwise place the dist directory under the build root -->
    <condition property="install.root" value="${env.XAL_INSTALL_ROOT}" else="${build.root}/dist">
        <isset property="env.XAL_INSTALL_ROOT" />
    </condition>
    
    <property name="build.compile.root" value="${build.root}/compile" />
	<property name="build.compile.core.root" value="${build.compile.root}/core" />
	<property name="build.compile.core.test.root" value="${build.compile.root}/test/core" />
	<property name="build.jar.root" value="${build.root}/jar" />
	<property name="build.jar.lib.root" value="${build.jar.root}/lib" />
	<property name="build.tests.root" value="${build.root}/tests" />
    
    <!-- Configure path for the common libraries  -->
    <property name="install.lib.root" value="${install.root}/lib" />
    
    <!-- Configure paths for services  -->
    <property name="services.build.compile.root" value="${build.root}/compile/services" />
    <property name="services.build.jar.root" value="${build.jar.root}/services" />
    <property name="services.install.root" value="${install.root}/services" />
        
    <!-- Configure paths for apps  -->
    <property name="apps.build.compile.root" value="${build.root}/compile/apps" />
    <property name="apps.build.jar.root" value="${build.jar.root}/apps" />
    <property name="apps.install.root" value="${install.root}/apps" />
    
    <!-- Configure paths for scripts  -->
    <property name="scripts.build.root" value="${build.root}/scripts" />
    <property name="scripts.install.root" value="${install.root}/scripts" />
</project>