<project name="config">
	<!-- Import site specific configuration properties if any giving preference to site specific ones. -->
	<import file="../site/config/config.xml" optional="true" />

    <!-- XAL Home is where this file resides -->
    <dirname property="config.home" file="${ant.file.config}" />
    <property name="xal.home" value="${config.home}/.." />

    <property environment="env" />
    
    <!-- location of source code directory relative to a source root -->            
    <property name="source.code.dir" value="src" />
    
    <!-- Determine the build directory using the environment variable if defined, otherwise place the build root under xal home -->
    <condition property="build.root" value="${env.XAL_BUILD_ROOT}" else="${xal.home}/build">
        <isset property="env.XAL_BUILD_ROOT" />
    </condition>
    
    <!-- Determine the installation directory using the environment variable if defined, otherwise place the dist directory under the build root -->
    <condition property="install.root" value="${env.XAL_INSTALL_ROOT}" else="${build.root}/dist">
        <isset property="env.XAL_INSTALL_ROOT" />
    </condition>
    
    <!-- Determine the installation directory for javadoc documentation -->
    <condition property="install.javadoc.root" value="${env.XAL_JAVADOC_ROOT}" else="${install.root}/doc">
        <isset property="env.XAL_JAVADOC_ROOT" />
    </condition>

	<!-- Configure build intermediates -->
	<property name="build.intermediates.root" value="${build.root}/intermediates" />
	<property name="build.intermediates.apps" value="${build.intermediates.root}/apps" />
	<property name="build.intermediates.core" value="${build.intermediates.root}/core" />
	<property name="build.intermediates.extensions" value="${build.intermediates.root}/extensions" />
	<property name="build.intermediates.services" value="${build.intermediates.root}/services" />
	<property name="build.intermediates.shared" value="${build.intermediates.root}/shared" />

	<!-- Determine the bootstrap class path using the environment variable if defined to avoid a warning due to the compiler target. -->
	<condition property="xal.bootclasspath" value="${env.XAL_BOOTCLASSPATH}">
		<isset property="env.XAL_BOOTCLASSPATH" />
	</condition>

	<!-- Configure build compilation -->
	<property name="build.compile.java.source" value="1.8" />
	<property name="build.compile.java.target" value="${build.compile.java.source}" />

	<!-- Configure build products  -->
	<property name="build.products.root" value="${build.root}/products" />
	<property name="build.jar.root" value="${build.products.root}" />
	<property name="build.jar.lib.root" value="${build.jar.root}/lib" />
	<property name="build.products.lib" value="${build.jar.lib.root}" />

	<!-- Configure build tests  -->
	<property name="common.test.root" value="${xal.home}/test" />
	<property name="build.tests.root" value="${build.root}/tests" />

	<!-- Configure build javadoc  -->
	<property name="build.javadoc.root" value="${build.root}/doc" />
    
    <!-- Configure path for the common libraries  -->
    <property name="install.lib.root" value="${install.root}/lib" />

    <!-- Configure path to the core  -->
    <property name="core.root" value="${xal.home}/core" />

    <!-- Configure paths for extensions  -->
    <property name="extensions.root" value="${xal.home}/extensions" />

    <!-- Configure paths for plugins  -->
    <property name="plugins.root" value="${xal.home}/plugins" />

    <!-- Configure paths for services  -->
    <property name="services.root" value="${xal.home}/services" />
    <property name="services.build.jar.root" value="${build.jar.root}/services" />
    <property name="services.install.root" value="${install.root}/services" />

    <!-- Configure paths for apps  -->
    <property name="apps.root" value="${xal.home}/apps" />
    <property name="apps.build.jar.root" value="${build.jar.root}/apps" />
    <property name="apps.install.root" value="${install.root}/apps" />

	<echo message="install root: ${install.root}" />
	<echo message="install lib root: ${install.lib.root}" />
	<echo message="apps install root: ${apps.install.root}" />

    <!-- Configure paths for scripts  -->
    <property name="scripts.build.root" value="${build.products.root}/scripts" />
    <property name="scripts.install.root" value="${install.root}/scripts" />

	<!-- Configuration path for site specific files -->
	<property name="site.root" value="${xal.home}/site" />
    <property name="site.core.root" value="${site.root}/core" />
    <property name="site.extensions.root" value="${site.root}/extensions" />
    <property name="site.plugins.root" value="${site.root}/plugins" />
    <property name="site.apps.root" value="${site.root}/apps" />
    <property name="site.services.root" value="${site.root}/services" />
</project>
