<?xml version="1.0" encoding="UTF-8"?>

<project name="apps_config" basedir="." default="all">
    <import file="../config.xml" />
    
    <dirname property="apps-srcroot" file="${ant.file.apps_config}" />

	<property name="classpath-ref" value="default.classpath" />
	<property name="manifest-classpath" value="../xal-core.jar ../xal-lib.jar ../xal-datasource.jar" />

    <target name="init">
        <property environment="env" />
        <property name="appname" value="${ant.project.name}" />
		<property name="app-prefix" value="xal.app" />
		<property name="mainclass" value="${app-prefix}.${appname}.Main" />
        <property name="app-ref" value="${appname}" />
        <property name="app-srcroot" value="${apps-srcroot}/${app-ref}" />
        <property name="app-buildroot" value="${buildroot}/compile/apps/${appname}" />
        
        <mkdir dir="${buildroot}" />
        <mkdir dir="${buildroot}/compile/" />
    </target>


	<path id="default.classpath">
		<pathelement location="${buildroot}/jar/xal-core.jar" />
		<pathelement location="${buildroot}/jar/xal-lib.jar" />
		<pathelement location="${buildroot}/jar/xal-datasource.jar" />
	</path>

	
    <target name="compile" depends="init">
        <mkdir dir="${app-buildroot}"/>
        
        <javac srcdir="${app-srcroot}/src" destdir="${app-buildroot}" debug="true" source="1.6" target="1.6" includeAntRuntime="no" deprecation="true">
			<classpath refid="${classpath-ref}"/>
        </javac>
        
        <copy todir="${app-buildroot}/xal/app/${appname}/resources">
            <fileset dir="${app-srcroot}/resources" />
        </copy>
    </target>

    <target name="jar" depends="init,compile">
        <mkdir dir="${buildroot}/jar"/>
        <mkdir dir="${buildroot}/jar/apps"/>
        <jar jarfile="${buildroot}/jar/apps/${appname}.jar" compress="true" basedir="${app-buildroot}" >
            <manifest>
              <attribute name="Manifest-Version" value="1.0"/>
              <attribute name="Main-Class" value="${mainclass}"/>
              <attribute name="Class-Path" value="${manifest-classpath}"/>
            </manifest>
            
            <fileset dir="." />
        </jar>
    </target>
    
    <target name="run" depends="init" description="Run application.">
    	<java jar="${buildroot}/jar/apps/${appname}.jar" fork="true">
	</java> 
    </target>
    
    <target name="all" depends="init,jar" description="Build everything.">
        <echo message="${appname} built!"/>
    </target>

    <target name="javadoc" depends="init" description="Javadoc for ${appname} app. API.">
        <mkdir dir="${buildroot}/javadoc"/>
        <javadoc packagenames="${apps}.${appname}" destdir="${buildroot}/javadoc">
            <sourcepath>
                <pathelement location="${xalhome}"/>
            </sourcepath>
        </javadoc>
    </target>

    <target name="clean" depends="init" description="Clean all build products.">
        <delete dir="${buildroot}/compile/apps/${appname}"/>
        <delete file="${buildroot}/jar/apps/${appname}.jar"/>
        <delete dir="${buildroot}/javadoc/apps/${appname}"/>
    </target>

</project>
